.wrapper {
    height: 30rem;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    & .statetext {
        font-weight: var(--font-medium);
        font-size: 1.6rem;
        line-height: 2.2rem;
        text-align: center;
        letter-spacing: 0.02em;
        margin-bottom: 1rem;
    }

    & .helpertext {
        width: 25.6rem;
        font-weight: var(--font-regular);
        font-size: 1.6rem;
        line-height: 2.6rem;
        text-align: center;
        letter-spacing: 0.02em;
        color: var(--color-gray);
    }
}
