.border {
  margin-top: 20px;
  font-size: 1.4rem;
  font-weight: var(--font-regular);
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--color-gray);

  &::before,
  &::after {
    content: "";
    width: 100%;
    height: 0.1rem;
    background-color: rgba(145, 158, 171, 0.24);
  }

  &::before {
    margin-right: 2rem;
  }

  &::after {
    margin-left: 2rem;
  }
}
.button {
  background-color: rgba(185, 186, 163, 0.2);
  color: gray;
  justify-content: center;
  align-items: center;
  padding: 16px 32px;
  border-radius: 6px;
  font-weight: 600;
  font-size: 1.6rem;
  line-height: 2.2rem;
  cursor: pointer;
  border: none;
  max-width: 100%;
  width: auto;
}
.button_wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
}
.googlebtn {
  margin-top: 3rem;
  width: 300px;
  & svg {
    position: relative;
    left: 30px;
    top: 3px;
    @media (max-width: 40.625em) {
      left: 10px;
    }
  }
}
@media (max-width: 40.625em) {
  .googlebtn {
    width: 100%;
  }
}
