.editor_class {
  border: 1px solid rgba(185, 186, 163, 0.4);
  background: rgba(185, 186, 163, 0.1) !important;
  width: auto;
  border-radius: 4px;
  height: 20rem !important;
  overflow-y: auto;
  resize: none;
  outline: none;
  color: black;
  padding-left: 10px;
  background: transparent;
  font-size: 1.4rem;
  &_not_provided {
    border: 1px solid red;
  }
}
.wrapper_class {
  display: flex;
  flex-direction: column-reverse;
}
.label {
  top: 10px;
  left: 24px;
  font-size: 1.6rem;
  color: gray;
  font-weight: 500;
  transition: 0.2s ease all;
  padding-bottom: 10px;
}

.toolbar_class {
  margin-top: 0.6rem;
  &_hide_toolbar {
    display: none !important;
  }
}
